* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root {
    --black: #272635;
    --white: #e8e9f3;
    --theme: white;
}
body {
    background: url(../assets/beautifulNight.png);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    transition: background 1s ease-in-out;
}
html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
    min-height: 100%;
}
.hidden {
    display: none;
}
.search {
    margin-left: auto;
    margin-right: 20%;
    justify-self: flex-end;
    position: relative;
}
.search .search-icon-wrapper:hover {
    cursor: pointer;
}
.search .search-icon-wrapper::before {
    content: '';
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all 0.5s;
}
.search .search-icon-wrapper::after {
    content: '';
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.3s;
}
.search input {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: #fff;
    color: black;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    font-size: 1.1rem;
    transition: all 0.8s;
    opacity: 0;
    z-index: 5;
}
.search input:hover {
    cursor: pointer;
}
.search input:focus {
    width: 500px;
    opacity: 1;
    cursor: text;
}
.search input:focus ~ .search-icon-wrapper {
    right: 0;
    background: #0c0c0c;
    z-index: 6;
}
.search input:focus ~ .search-icon-wrapper span {
    opacity: 0;
    transition: all 0.1s ease-in;
}
.search input:focus ~ .search-icon-wrapper::before {
    top: 0;
    left: 0;
    width: 25px;
}
.search input:focus ~ .search-icon-wrapper::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
}
.search input::placeholder {
    color: black;
    opacity: 1;
}
.search-icon-wrapper {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    display: grid;
    place-items: center;
    position: relative;
}
.cover--hot {
    background: url(../assets/hot.png);
}
.cover--rainy {
    background: url(../assets/rainy.png);
}
.cover-beautifulNight {
    background: url(../assets/beautifulNight.png);
}
.brand {
    width: 100%;
    display: flex;
    align-items: center;
}
.brand img {
    display: block;
    width: 80px;
    padding: 15px;
    justify-self: flex-start;
}
.weather-btn {
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 3px;
    border: 3px solid var(--theme);
    background-color: transparent;
    color: var(--white);
    outline: none;
    transition: all 0.2s ease-in;
}
.weather-btn:hover {
    background-color: var(--theme);
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.main-info {
    width: 100%;
}
.location {
    margin-top: 5%;
    padding: 5px;
    font-size: 2rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    align-self: flex-start;
}
.weather-details {
    font-weight: 500;
    margin-right: auto;
    margin-left: 3%;
    width: 40%;
    height: 400px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: inherit;
    color: var(--theme);
    border-radius: 10px;
    z-index: 1;
    position: relative;
}
.date {
    padding: 5px;
    font-size: 1rem;
}
.weather-icon {
    display: flex;
    float: right;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 15rem;
    margin-left: auto;
    margin-right: 10%;
    color: var(--theme);
}
.weather-icon i {
    font-size: 6rem;
    color: var(--theme);
}
.feels-like {
    font-size: 1.1rem;
    text-transform: capitalize;
}
.temp {
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-self: flex-start;
    font-size: 4rem;
    padding: 5px;
    bottom: 10px;
    left: 0;
    font-weight: 600;
}
.additional-temp {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    max-width: 100%;
}
.min_temp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.max_temp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.max_temp .uparrow {
    width: 3px;
    height: 3px;
    border: 5px;
    border-color: white;
    border-style: solid;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: translateY(-30%);
}
.min_temp .downarrow {
    width: 3px;
    height: 3px;
    border: 5px;
    border-color: white;
    border-style: solid;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: translateY(30%);
}
.small {
    font-size: 2rem;
}
.wind-speed {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.wind-speed-icon {
    font-size: 1.8rem !important;
}
.humidity {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}
.humidity-icon {
    font-size: 1.3rem !important;
}
.weather-description {
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 20px 5px;
    align-self: flex-start;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    color: var(--white);
    font-size: 1rem;
    padding: 10px 1.5vw;
}
footer i {
    color: #e72a63;
}
@media screen and (max-width: 768px) {
    .weather-details {
        width: 50%;
    }
    .search input:focus {
        width: 300px;
        opacity: 1;
        cursor: text;
    }
}
@media screen and (max-width: 576px) {
    html {
        font-size: 13px;
    }
    .weather-details {
        margin-top: 10%;
    }
    .main-info {
        margin-top: 10%;
    }
    .location {
        font-size: 1.6rem;
    }
    .temp {
        bottom: 20px;
    }
    body {
        background-position: left center !important;
    }
    .cover--hot {
        background-position: left center !important;
    }
    .cover--rainy {
        background-position: left center !important;
    }
    .cover-beautifulNight {
        background-position: left center !important;
    }
    .search input:focus {
        width: 250px;
        opacity: 1;
        cursor: text;
    }
    .search {
        margin-left: auto;
        margin-right: 10%;
        justify-self: flex-end;
        position: relative;
    }
    .weather-icon {
        margin-top: 5%;
    }
}
