@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
html {
    background-image: url(./bg-image.jpg);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}
.brand img {
    display: block;
    margin: auto;
    width: 100px;
    padding: 15px;
}
header {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 2rem auto;
}
.input-fields input {
    border: 0px;
    background-color: transparent;
    color: #fff;
    font-size: 22px;
    padding: 10px 15px;
    outline: none;
}
.weather-btn {
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    background-color: #0673f0;
    color: #fff;
    box-shadow: 0px 0px 50px #2286f1;
    outline: none;
}
.weather-btn:hover {
    background-color: #007bff;
    cursor: pointer;
}
.input-fields {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 3px solid #d1d1d1;
}
.input-fields::after {
    background: linear-gradient(to right, violet, indigo);
    left: 0;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -3px;
    content: '';
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease-in;
}
.input-fields:focus-within::after {
    transform: scaleX(1);
    transition: all 0.3s ease-in;
}
::placeholder {
    visibility: hidden;
}
.clear-btn {
    font-size: 20px;
    color: #dbdbdb;
    outline: none;
    padding: 10px;
    border-radius: 80%;
    transition: color 0.3s ease;
}
.clear-btn:hover {
    cursor: pointer;
    color: #313030;
    transition: color 0.3s ease;
}
.input-fields label {
    cursor: text;
    font-size: 1.2rem;
    position: absolute;
    left: 15px;
    color: #d9dbe4;
    transform: translateY(0);
    transition: transform 0.3s ease-in, font-size 0.3s ease-in;
}
.input-fields:focus-within input + label,
.input-fields input:not(:placeholder-shown) + label {
    color: #a4cdfa;
    font-size: 1rem;
    transform: translateY(-2.5rem);
    transition: transform 0.3s ease-in, font-size 0.3s ease-in;
}

.location {
    padding: 10px;
    font-size: 40px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d4f8e8;
}
.weather-details {
    margin: 10vh auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background-color: #0000005d;
    color: #d4f8e8;
    border-radius: 40px;
    box-shadow: 0px 0px 30px #000000cc;
}
.weather-icon {
    font-size: 80px;
    color: greenyellow;
    padding: 10px;
}
.temp {
    display: flex;
    justify-content: space-around;
    width: 20vw;
    font-size: 40px;
    padding: 5px;
}
.wind-speed-humidity {
    width: 85%;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}
.wind-speed {
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
}
.wind-speed-icon {
    font-size: 50px;
}
.humidity {
    font-size: 30px;
    display: flex;
    width: 26%;
    justify-content: space-around;
    align-items: center;
}
.weather-description {
    font-size: 30px;
    text-transform: capitalize;
    padding: 20px;
}
footer {
    color: white;
    margin-top: 11%;
    font-size: 1.1em;
    padding: 10px 2vw;
}
footer i {
    color: #ff42e6;
}
@media screen and (max-width: 990px) {
    .weather-details {
        justify-content: space-between;
    }
    header {
        width: 90%;
    }
    .input-fields input {
        font-size: 20px;
        justify-content: space-evenly;
    }
    .weather-details {
        width: 80%;
    }
    .weather-btn {
        padding: 15px;
        font-size: 1rem;
    }
    .clear-btn {
        font-size: 18px;
    }
    .temp {
        justify-content: space-between;
        width: 30vw;
        font-size: 37px;
    }
    .wind-speed-humidity {
        width: 80%;
        justify-content: space-around;
        font-size: 25px;
    }
    .wind-speed {
        display: flex;
        width: 40%;
        justify-content: space-between;
    }
    .wind-speed-icon {
        font-size: 45px;
    }
    .humidity {
        font-size: 30px;
        display: flex;
        width: 26%;
        justify-content: space-around;
        align-items: center;
    }
    .weather-description {
        font-size: 28px;
        padding: 18px;
    }
}
@media screen and (max-width: 820px) {
    .header {
        justify-content: space-between;
    }
    header {
        width: 100%;
    }
    .input-fields input {
        font-size: 1rem;
    }
    .weather-btn {
        padding: 5px;
        font-size: 0.9rem;
    }
    .clear-btn {
        font-size: 15px;
        flex-shrink: 2;
    }
    .weather-details {
        width: 80%;
    }
    .temp {
        justify-content: space-around;
        width: 45vw;
        font-size: 38px;
    }
    .wind-speed-humidity {
        width: 80%;
        justify-content: space-around;
        font-size: 25px;
    }
    .wind-speed {
        justify-content: space-between;
        width: 45%;
    }
    .wind-speed-icon {
        font-size: 45px;
    }
    .humidity {
        font-size: 26px;
        width: 26%;
        justify-content: space-between;
    }
    .weather-description {
        font-size: 28px;
        padding: 20px;
    }
}
@media screen and (max-width: 650px) {
    header {
        width: 95%;
        flex-direction: column;
        align-items: center;
    }
    .input-fields input {
        font-size: 1.4rem;
        padding: 10px;
        margin: 20px;
    }
    .weather-btn {
        width: 40%;
        margin: 30px;
        font-size: 1.2rem;
        padding: 10px;
    }
    .clear-btn {
        margin: 10px;
        width: 80%;
        font-size: 20px;
        padding: 10px;
    }
    .weather-details {
        width: 95%;
        height: 500px;
    }
    .temp {
        justify-content: space-between;
        width: 45vw;
        font-size: 38px;
    }
    .wind-speed-humidity {
        width: 90%;
        justify-content: space-between;
        font-size: 25px;
    }
    .wind-speed {
        justify-content: space-between;
    }
    .wind-speed-icon {
        font-size: 40px;
    }
    .humidity {
        font-size: 24px;
        width: 25%;
        justify-content: space-between;
    }
    .weather-description {
        font-size: 25px;
        padding: 18px;
    }
}
